.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  width: 90%;
}

.ql-picker-label svg {
  height: auto;
}

.ql-formats button svg {
  width: auto;
}

.blogwidth {
  width: 50%;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .blogwidth {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .blogwidth {
    width: 100%;
    margin-bottom: 20px;
  }
}
