/* @media screen and (max-width: 610px) {
    #imagecollapse {
      display: none;
    }
  } */
/* 
  #imagecollapse2 {
      display: none;
  }

  @media screen and (max-width: 610px) {
    #imagecollapse2 {
        display: inline;
    }
} */