.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand>img {
  padding: 1px 1px;
  margin-right: 12px; 
  margin-left: 5px;
}

.navbar a{
  font-family: monospace;
  color: black !important;
}

#BrandNameFont {
  font-family: monospace;
  font-size: 1.2em !important;
}

.ml-auto a{
  font-size: 1.1em !important;
  color: black !important;
  font-family: monospace;
  }

.hoover:hover {
    color: #007BFF !important; 
  }

#basic-nav-tamogatas-item {
  color: rgb(53, 50, 50)!important;
}

#basic-nav-tamogatas-item:hover {
  color: #007BFF !important; 
}

#basic-nav-tamogatas:hover {
  color: #007BFF !important; 
}

.color-nav {
  background-color: darkgray;
  opacity: .9;
}

@media screen and (max-width: 610px) {
  #BrandNameFont {
    font-size: 1em !important;
  }
}

@media screen and (max-width: 460px) {
  #BrandNameFont {
    display: none !important;
  }
}

#nyolcag {
  display: none;
}

@media screen and (max-width: 460px) {
  #nyolcag{
    display: inline;
    font-size: 1.1em !important;
    color: #444444  !important;
    font-family: monospace;
  }
}

.navbar-toggler {
border: solid black 2px;
border-color: #5D5D5F !important; 
}


